.table-container {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }
  
  table {
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .table-container {
      margin: 0;
    }
  
    table {
      width: 100%;
    }
  }