<p-toast position="top-center" [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"/>
<p-confirmDialog />
<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button (click)="addNewCustomer()" color="primary" mat-fab extended>
            <mat-icon color="white">add</mat-icon>Add Customer
        </button>
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="customerData"
    [loading]="loading"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['customerNumber', 'firstName', 'lastName', 'address', 'phoneNumber', 'email']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h1 class="m-0" style="font-weight: bold;">List of Customers</h1>
            <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                    pInputText 
                    type="text" 
                    (input)="onGlobalFilter(dt, $event)"
                    placeholder="Search keyword" />
            </p-iconField>
        </div>
    </ng-template>

<ng-template pTemplate="header">
    <tr>
        <th>Customer Number</th>
        <th>Customer Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-customer>
    <tr>
        <td>{{ customer.customerNumber }}</td>
        <td>{{ customer.firstName }} {{customer.lastName}}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.email }}</td>
        <td>
            <p-button [rounded]="true" [text]="true" size="small" [routerLink]="['../customer', customer.id]">
                <mat-icon color="primary">edit</mat-icon>
            </p-button>
            <p-button [rounded]="true" [text]="true" size="small" severity="danger" (onClick)="deleteCustomer($event, customer.id)">
                <mat-icon color="warn">delete</mat-icon>
            </p-button>
        </td>
    </tr>
</ng-template>

<ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
        In total, there are {{ customerData ? customerData.length : 0 }} customers.
    </div>
</ng-template>

</p-table>


